.manet-container{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
}

.manet-container .hoverbox{
  position: absolute;
  background-color: rgba(100,200,100,.1);
  outline: 1px solid rgba(100,200,100,.7);
}

.manet-container .potential .hoverbox{
  -webkit-transition: all 100ms ease;
}

.manet-container .potential .hoverbox .options{
  display: none;
}

.manet-container .hoverbox .remove{
  position: absolute;
  top: 2px;
  right: 4px;
  cursor: pointer;
  pointer-events: auto;
}

.manet-container .hoverbox .remove::after{
  content: "×";
  font-size: 18px;
  line-height: 0;
  color: rgba(100,200,100,.7);
}

.manet-container .hoverbox .duplicate{
  cursor: pointer;
}

.manet-container .hoverbox .duplicate::after{
  content: "duplicate";
  font-size: 18px;
  line-height: 0;
  color: rgba(100,200,100,.7);
}

.manet-container .hoverbox .options{
  pointer-events: auto;
  position: absolute;
  bottom: -27px;
  right: -2px;
}

.manet-container .hoverbox .options input[type="text"]{
  border: none;
  background-color: white;
  color: rgb(40,40,40);
  outline: 1px solid rgba(100,200,100,.7);
  padding: 6px;
}